<<<<<<< HEAD
.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}
=======
.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
>>>>>>> 6c1fcded92232d8c9465b850bc6fce76f6ccd017
